#menu{width:160px;border:1px solid #0099FF;height:550px;padding: 5px 0 0 15px;float:left}﻿
#top{background-color:#0099CC;}
#content{float:left;width:80%;margin:0 5px;border:1px solid #0099FF;height:auto;min-height:550px;padding-top:5px}

.topmenu, .page{margin:5px}
.container{background-color:#DFF4FF;padding:0 10px;}

.basetable{border:1px solid #ccc;margin:5px 10px;width:97%;background:#fff}
.basetable tr{height:32px;line-height:32px;}
.basetable td{border:1px solid #ccc;}

.page ul{margin:0 auto;width:80%;height:32px;list-style:none;}
.page ul li{width:24px;height:24px;line-height:24px;background:#fff;float:left;margin:0 5px;text-align:center;border:1px solid #ccc;}
.page li a{text-decoration: none;}
.page .all,.page .all:hover{width:70px;}
.page li:hover, .page li a:hover{background:#0000FF;width:24px;height:24px;color:#fff}

.divform{clear:both;width:95%;height:100%;margin:0 auto;}
.short{width:120px;}

